@model RDKSDatabase.Models.HWY37N_HAZELTON

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HWY37N_HAZELTON</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HWY_HAZ_DATE" />
            <div class="form-group">
                <label asp-for="HWY_HAZ_EST_OCC_TONNES" class="control-label"></label>
                <input asp-for="HWY_HAZ_EST_OCC_TONNES" class="form-control" />
                <span asp-validation-for="HWY_HAZ_EST_OCC_TONNES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HWY_HAZ_OCC_BIN_BILLING" class="control-label"></label>
                <input asp-for="HWY_HAZ_OCC_BIN_BILLING" class="form-control" />
                <span asp-validation-for="HWY_HAZ_OCC_BIN_BILLING" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HWY_HAZ_SCRAP_METAL_TONNES" class="control-label"></label>
                <input asp-for="HWY_HAZ_SCRAP_METAL_TONNES" class="form-control" />
                <span asp-validation-for="HWY_HAZ_SCRAP_METAL_TONNES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HWY_HAZ_TIRE_COUNTS" class="control-label"></label>
                <input asp-for="HWY_HAZ_TIRE_COUNTS" class="form-control" />
                <span asp-validation-for="HWY_HAZ_TIRE_COUNTS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HWY_HAZ_TIRE_COLLECTION_CHARGES" class="control-label"></label>
                <input asp-for="HWY_HAZ_TIRE_COLLECTION_CHARGES" class="form-control" />
                <span asp-validation-for="HWY_HAZ_TIRE_COLLECTION_CHARGES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HWY_HAZ_FREON_REMOVAL_CHARGES" class="control-label"></label>
                <input asp-for="HWY_HAZ_FREON_REMOVAL_CHARGES" class="form-control" />
                <span asp-validation-for="HWY_HAZ_FREON_REMOVAL_CHARGES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HWY_HAZ_MARR_INCOME" class="control-label"></label>
                <input asp-for="HWY_HAZ_MARR_INCOME" class="form-control" />
                <span asp-validation-for="HWY_HAZ_MARR_INCOME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HWY_HAZ_ABC_INCOME" class="control-label"></label>
                <input asp-for="HWY_HAZ_ABC_INCOME" class="form-control" />
                <span asp-validation-for="HWY_HAZ_ABC_INCOME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
