@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        The Regional District of Kitimat-Stikine's Database
        <br/>
        Select a table name in the top navigation bar and search for records.
    </p>
    <img src="~/RDKS_Logo_Address_RGB_Wide.png" title="logo" alt="RDKS Logo" height="100"/>
</div>
