@model RDKSDatabase.Models.Vehicle

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LICENSE_PLATE" />
            <div class="form-group">
                <label asp-for="CUS_ID" class="control-label"></label>
                <select asp-for="CUS_ID" class="form-control" asp-items="ViewBag.CUS_ID"></select>
                <span asp-validation-for="CUS_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DESCRIPTION" class="control-label"></label>
                <input asp-for="DESCRIPTION" class="form-control" />
                <span asp-validation-for="DESCRIPTION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BADGE" class="control-label"></label>
                <input asp-for="BADGE" class="form-control" />
                <span asp-validation-for="BADGE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOTES" class="control-label"></label>
                <input asp-for="NOTES" class="form-control" />
                <span asp-validation-for="NOTES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOTES_2" class="control-label"></label>
                <input asp-for="NOTES_2" class="form-control" />
                <span asp-validation-for="NOTES_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
